includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/rules.neon
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    paths:
        - app
        - config
        - database
        - routes
        - tests
    tmpDir: storage/framework/cache/phpstan
    ignoreErrors:
        - '#Access to constant ATTR_SSL_CA on an unknown class Pdo\\Mysql\.#'
        - message: '#Possibly invalid array key type mixed\.#'
          path: config/database.php
          count: 2
